/* KursList.module.css */

.container {
    font-family: sans-serif; 
    max-width: 1500px; 
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .filterSection {
    margin-bottom: 20px;
  }
  
  .filterSection select,
  .filterSection input {
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px 10px 0; 
    width: 200px; 
    box-sizing: border-box; 
  }
  
  .filterSection select {
    width: 250px; 
  }
  
  .scheduleTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
  }
  
  .scheduleTable th,
  .scheduleTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .scheduleTable th {
    background-color: #f2f2f2; 
    font-weight: bold;
  }
  
  .kurs {
    background-color: #f9f9f9; 
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin: 5px;
  }
  
  .kursName {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .raum,
  .dozent {
    font-size: 0.9em; 
    color: #555; 
  }
  
  .loginButtonContainer {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 20px; 
  }
  
  .loginButton {
    background-color: #007bff; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
  }
  
  .loginButton:hover {
    background-color: #0056b3; 
  }
  
  .loginButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
  }

  .sonderButton {

    background-color: #39a735 ;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }