.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%; 
    margin: 0 auto; 
  }
  
  .list {
    list-style: none; 
    padding: 0;
  }
  
  .listItem {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .listItem h3 {
    margin-top: 0;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end; /* Đẩy nút về phía bên phải */
    margin-bottom: 20px; 
  }
  
  .backButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .backButton:hover {
    background-color: #3e8e41; 
  }